{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : Date Dimension  == #}
{# == Node Type Description    : This node creates Date table,view and also override create sql for view with advanced deployment strategy and loads the date records == #}


{% if desiredState %}

    {% if  desiredState.node.override.create.enabled and desiredState.node.materializationType == 'view' %}

         {% if currentState != undefined %}
            {% if currentState.node.materializationType != 'view' %}
                {{ stage('Drop ' + currentState.node.materializationType + ' ' + ref_no_link(currentState.node.location.name, currentState.node.name), true, "sql", "drop") }}
                DROP TABLE IF EXISTS {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}
            {% endif %}
        {% endif %}

	      {{ desiredState.node.override.create.script }}

    {%elif desiredState.node.materializationType == 'view' %}

        {% if currentState != undefined %}
            {%if currentState.storageLocations|length == 0%}          
              {% set currentDatabase = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='database') | string %}
              {% set currentSchema = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='schema') | string %}
               {% set currentDatabaseSchema = currentDatabase + '.' + currentSchema %}
               
            {%else %}  
            {# Current target node mappings #}
            {% set currentDatabase = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='database') | first %}
            {% set currentSchema = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='schema') | first %}
            {% set currentDatabaseSchema = currentDatabase + '.' + currentSchema %}  
            {% endif %}      
       
            {# Desired target node mappings #}
            {% set desiredDatabase = desiredState.storageLocations | selectattr('name', 'equalto', desiredState.node.location.name) | map(attribute='database') | first %}
            {% set desiredSchema = desiredState.storageLocations | selectattr('name', 'equalto', desiredState.node.location.name) | map(attribute='schema') | first %}
            {% set desiredDatabaseSchema = desiredDatabase + '.' + desiredSchema %}  		
            {% if currentState.node.materializationType != 'view' %}
                {{ stage('Drop ' + currentState.node.materializationType + ' ' + ref_no_link(currentState.node.location.name, currentState.node.name),true, "sql", "drop") }}
                DROP TABLE IF EXISTS {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}
            {% elif  desiredState.node.name != currentState.node.name or desiredDatabaseSchema != currentDatabaseSchema  %}
                {{ stage('Drop ' + currentState.node.materializationType + ' ' + ref_no_link(currentState.node.location.name, currentState.node.name),true, "sql", "drop") }}
                DROP VIEW IF EXISTS {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}                    
            {% endif %}
        {% endif %}
    
      {% if currentState == undefined or currentState != desiredState %}
        {{ stage('Create Date View', true, "sql", "create") }}

        CREATE OR REPLACE VIEW {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
        (
            {% for col in desiredState.columns %}
                "{{ col.name }}"
                {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
                {%- if not loop.last -%}, {% endif %}
            {% endfor %}
        )
        {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}'{% endif %}
        AS
		WITH CTE_DATE_GENERATOR AS (
        SELECT DATEADD(DAY, SEQ4(), {{desiredState.config.startingDate }}) AS {{ desiredState.config.dateColumnName }}
        FROM TABLE(GENERATOR(ROWCOUNT=>{{ desiredState.config.daysToGenerate }}))
		)
        {% for source in desiredState.sources %}
            SELECT
            {% if desiredState.config.selectDistinct %}
              DISTINCT
            {% endif %}
            {% for col in source.columns %}
               {{ col.transform | replace('config','desiredState.config')  }} AS "{{ col.name }}"
                {%- if not loop.last -%}, {% endif %}
            {% endfor %}

            FROM CTE_DATE_GENERATOR	
        {% endfor %}
      {%endif%}
    {% elif desiredState.node.materializationType == 'table' or desiredState.node.materializationType == 'transient table'  %}
        
        {# Figure out cluster key #}
        {% set nsVariables = namespace(finalClusterKey="") %}
        {% if desiredState.config.clusterKey == true %}
            {% if desiredState.config.clusterKeyExpressions == true %}
                {% set column, expression = desiredState.config.clusterKeyConfigExpressions.get('items') | map(attribute='columnNameExpressions.name') | list, desiredState.config.clusterKeyConfigExpressions.get('items') | map(attribute='sqlExpression') | list %}

                {%- set nsVariables = namespace(clusterValues=[]) %}

                {% for r in column %}
                    {% if expression[loop.index0] == "" %}
                        {% set nsVariables.clusterValues = nsVariables.clusterValues + ['"'+r+'"'] %}
                    {% else %}
                        {% set nsVariables.clusterValues = nsVariables.clusterValues + [expression[loop.index0]] %}
                    {% endif %}
                {% endfor %}

                {% set nsVariables.finalClusterKey = 'CLUSTER BY (' + nsVariables.clusterValues | join(',') + ')' %}

            {% else %}

                {% set column = desiredState.config.clusterKeyConfig.get('items') | map(attribute='columnName.name') | list %}

                {%- set nsVariables = namespace(clusterValues=[]) %}

                {% for r in column %}
                    {% set nsVariables.clusterValues = nsVariables.clusterValues + ['"'+r+'"'] %}
                {% endfor %}

                {% set nsVariables.finalClusterKey = 'CLUSTER BY (' + nsVariables.clusterValues | join(',') + ')' %}

            {% endif %}
        {% endif %}


        {% if currentState != undefined and currentState.node.materializationType != desiredState.node.materializationType %}

                {# Change in materialization type #}

                {{ stage('Drop ' + currentState.node.materializationType + ' ' + ref_no_link(currentState.node.location.name, currentState.node.name), true, "sql", "drop") }}

                 {% if currentState.node.materializationType == 'view' %} 
                      DROP {{currentState.node.materializationType}} IF EXISTS {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}
                {% else %}
                      DROP TABLE IF EXISTS {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}
                {% endif %}
                 
                {{ stage('Create Work '+ ' {{desiredState.node.materializationType}}') }}
               CREATE OR REPLACE {{desiredState.node.materializationType}} {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                (
                {% for col in desiredState.columns %}
                    "{{ col.name }}" {{ col.dataType }}
                    {%- if not col.nullable %} NOT NULL
                        {%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
                    {% endif %}
                    {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
                    {%- if not loop.last -%}, {% endif %}
                {% endfor %}
                )
               {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}'{% endif %}

               {% if desiredState.config.clusterKey == true %}
                  {{ stage('Apply Table Clustering') }}
                 ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }} {{ nsVariables.finalClusterKey }}

                   {{ stage('Resume Recluster Table') }}
                  ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }} RESUME RECLUSTER

               {% endif %}
                
        {%if desiredState.config.pdeploy %}      
        {%if desiredState.config.insertZeroKey%}
            {{ stage('Insert Zero Record') }}
           MERGE INTO {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}USING
           (SELECT 
            {% for col in desiredState.sources[0].columns %}
        	{% set dtparams = col.dataType.partition('(')[-1].rpartition(')')[0].split(',') %}
        	{% if col.isSurrogateKey %} {{desiredState.config.insertZeroKeySurrogateKey}}
        	{% elif col.isSystemCurrentFlag %}'Y'
        	{% elif col.isSystemStartDate or col.isSystemEndDate or col.isSystemUpdateDate or col.isSystemCreateDate %}{{ get_source_transform(col) }}
        	{% elif col.isSystemVersion%}1
        	{% elif col.dataType[:3] | upper in ('NUM','INT','DEC','FLO') %}0
        	{% elif col.dataType[:4] | upper in ('DATE','TIME') %}CAST(TO_TIMESTAMP( '{{desiredState.config.insertZeroKeyDate}}', 'DD-MM-YYYY') AS {{ col.dataType }})
        	{% elif col.dataType[:3] | upper in ('VAR','CHA','STR','BIN') %}
        			{% if dtparams[0] and dtparams[0] | int <  desiredState.config.insertZeroKeyStr | length  %}
        			SUBSTRING({{desiredState.config.insertZeroKeyStr}},1,{{ dtparams[0] }})
        			{% else %}
        				'{{desiredState.config.insertZeroKeyStr}}'
        			{% endif %}
        	{% elif col.nullable %}NULL
        	{% else %}''
        	{% endif %}
        	AS "{{ col.name }}"
        	{% if not loop.last %}, {% endif %}
        {% endfor %}
        FROM   DUAL
        )AS SOURCE_ZERO
        ON 
        {% for col in desiredState.columns if col.isSurrogateKey or col.isBusinessKey %}
        CASE 
        WHEN TRY_TO_DATE('{{desiredState.config.insertZeroKeySurrogateKey}}', 'DD-MM-YYYY') IS NOT NULL THEN {{ node.name}}.{{ col.name}} = CAST(TO_DATE('{{desiredState.config.insertZeroKeySurrogateKey}}', 'DD-MM-YYYY') AS DATE)
        ELSE {{ node.name}}.{{ col.name}} = '{{desiredState.config.insertZeroKeySurrogateKey}}'
        END 				
	    {% endfor -%}			
        WHEN MATCHED THEN UPDATE
        SET
        {%- for col in desiredState.columns if (not col.isSurrogateKey and not col.isBusinessKey) %}
        	{{ node.name}}.{{ col.name}} =SOURCE_ZERO.{{ col.name}}
        	{% if not loop.last %}, {% endif %}			
        {% endfor -%}
        WHEN NOT MATCHED THEN INSERT
        (
        {%- for col in desiredState.columns %}
        	{{ col.name}}
        	{% if not loop.last %}, {% endif %}			
        {% endfor -%}
        )
        VALUES
        (
        {%- for col in desiredState.columns %}
         SOURCE_ZERO.{{ col.name}}			
        	{% if not loop.last %}, {% endif %}			
        {% endfor -%}
        )
     {%endif%}

     {{stage('Insert data in deploy')}}
      
      	 INSERT INTO {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
    (
        {% for col in desiredState.columns if col.reqcolumn != 'N' %}
            "{{ col.name }}"
            {% if not loop.last -%},{% endif %}
        {% endfor %}
    )   
		WITH CTE_DATE_GENERATOR AS (
        SELECT DATEADD(DAY, SEQ4(), {{desiredState.config.startingDate }}) AS {{ config.dateColumnName }}
        FROM TABLE(GENERATOR(ROWCOUNT=>{{ desiredState.config.daysToGenerate }}))
    )
    SELECT
    {% for col in desiredState.sources[0].columns %}
        {{ col.transform }} AS "{{ col.name }}"
        {%- if not loop.last -%}, {% endif %}
    {% endfor %}
    FROM CTE_DATE_GENERATOR
    
    {%endif%}

        {% endif %}

        {% if currentState == undefined or currentState.storageLocations | length == 0  %}
            {{ stage('Create Date '+ ' {{desiredState.node.materializationType}}') }}
            CREATE OR REPLACE {{desiredState.node.materializationType}} {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
            (
                {% for col in desiredState.columns %}
                    "{{ col.name }}" {{ col.dataType }}
                    {%- if not col.nullable %} NOT NULL
                        {%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
                    {% endif %}
                    {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
                    {%- if not loop.last -%}, {% endif %}
                {% endfor %}
            )
            {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}'{% endif %}

        {% if desiredState.config.clusterKey == true %}
            {{ stage('Apply Table Clustering') }}
            ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }} {{ nsVariables.finalClusterKey }}

            {{ stage('Resume Recluster Table') }}
            ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }} RESUME RECLUSTER
        {% endif %}

    {%if desiredState.config.pdeploy %}      
        {%if desiredState.config.insertZeroKey%}
            {{ stage('Insert Zero Record') }}
           MERGE INTO {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}USING
           (SELECT 
            {% for col in desiredState.sources[0].columns %}
        	{% set dtparams = col.dataType.partition('(')[-1].rpartition(')')[0].split(',') %}
        	{% if col.isSurrogateKey %} {{desiredState.config.insertZeroKeySurrogateKey}}
        	{% elif col.isSystemCurrentFlag %}'Y'
        	{% elif col.isSystemStartDate or col.isSystemEndDate or col.isSystemUpdateDate or col.isSystemCreateDate %}{{ get_source_transform(col) }}
        	{% elif col.isSystemVersion%}1
        	{% elif col.dataType[:3] | upper in ('NUM','INT','DEC','FLO') %}0
        	{% elif col.dataType[:4] | upper in ('DATE','TIME') %}CAST(TO_TIMESTAMP( '{{desiredState.config.insertZeroKeyDate}}', 'DD-MM-YYYY') AS {{ col.dataType }})
        	{% elif col.dataType[:3] | upper in ('VAR','CHA','STR','BIN') %}
        			{% if dtparams[0] and dtparams[0] | int <  desiredState.config.insertZeroKeyStr | length  %}
        			SUBSTRING({{desiredState.config.insertZeroKeyStr}},1,{{ dtparams[0] }})
        			{% else %}
        				'{{desiredState.config.insertZeroKeyStr}}'
        			{% endif %}
        	{% elif col.nullable %}NULL
        	{% else %}''
        	{% endif %}
        	AS "{{ col.name }}"
        	{% if not loop.last %}, {% endif %}
        {% endfor %}
        FROM   DUAL
        )AS SOURCE_ZERO
        ON 
        {% for col in desiredState.columns if col.isSurrogateKey or col.isBusinessKey %}
        CASE 
        WHEN TRY_TO_DATE('{{desiredState.config.insertZeroKeySurrogateKey}}', 'DD-MM-YYYY') IS NOT NULL THEN {{ node.name}}.{{ col.name}} = CAST(TO_DATE('{{desiredState.config.insertZeroKeySurrogateKey}}', 'DD-MM-YYYY') AS DATE)
        ELSE {{ node.name}}.{{ col.name}} = '{{desiredState.config.insertZeroKeySurrogateKey}}'
        END 				
	    {% endfor -%}			
        WHEN MATCHED THEN UPDATE
        SET
        {%- for col in desiredState.columns if (not col.isSurrogateKey and not col.isBusinessKey) %}
        	{{ node.name}}.{{ col.name}} =SOURCE_ZERO.{{ col.name}}
        	{% if not loop.last %}, {% endif %}			
        {% endfor -%}
        WHEN NOT MATCHED THEN INSERT
        (
        {%- for col in desiredState.columns %}
        	{{ col.name}}
        	{% if not loop.last %}, {% endif %}			
        {% endfor -%}
        )
        VALUES
        (
        {%- for col in desiredState.columns %}
         SOURCE_ZERO.{{ col.name}}			
        	{% if not loop.last %}, {% endif %}			
        {% endfor -%}
        )
     {%endif%}

     {{stage('Insert data in deploy')}}
      
      	 INSERT INTO {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
    (
        {% for col in desiredState.columns if col.reqcolumn != 'N' %}
            "{{ col.name }}"
            {% if not loop.last -%},{% endif %}
        {% endfor %}
    )   
		WITH CTE_DATE_GENERATOR AS (
        SELECT DATEADD(DAY, SEQ4(), {{desiredState.config.startingDate }}) AS {{ config.dateColumnName }}
        FROM TABLE(GENERATOR(ROWCOUNT=>{{ desiredState.config.daysToGenerate }}))
    )
    SELECT
    {% for col in desiredState.sources[0].columns %}
        {{ col.transform }} AS "{{ col.name }}"
        {%- if not loop.last -%}, {% endif %}
    {% endfor %}
    FROM CTE_DATE_GENERATOR
    
{%endif%}

        {% elif currentState != undefined and currentState.node.materializationType == desiredState.node.materializationType %}

            {# Change Node Name or Change Storage Location #}
            {# Storage Location Tests #}

            {% set nsVariables = namespace(storageLocationTest=true) %}

            {# =========================================================
            Initialize metadata tracking variables
            ========================================================= #}
            {% set nsMetaVariables = namespace(
                transformTest       = true,
                testsEnabledTest    = true,
                insertZeroKeyTest   = true,
                metaDataChanged     = false,
                transformDiff       = [],
                dateColumnNameDiff  = [],
                businessDiff        = [],
                preSQLDiff          = [],
                postSQLDiff         = [],
                startingDateDiff    = [],
                truncateBeforeDiff  = [],
                daysToGenerateDiff  = [],
                insertZeroKeyDiff   = [],
                testsEnabledDiff    = [],
                metaDataChanges     = [],
                metadataUpdate      = 'Metadata Update'
            ) %}

            {# Test  #}
            {%if currentState.storageLocations|length == 0%}          
              {% set currentDatabase = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='database') | string %}
              {% set currentSchema = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='schema') | string %}
               {% set currentDatabaseSchema = currentDatabase + '.' + currentSchema %}
               
            {%else %}   
            {# Current target node mappings #}
            {% set currentDatabase = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='database') | first %}
            {% set currentSchema = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='schema') | first %}
            {% set currentDatabaseSchema = currentDatabase + '.' + currentSchema %}  
			{% endif %}		 
        
            {# Desired target node mappings #}
            {% set desiredDatabase = desiredState.storageLocations | selectattr('name', 'equalto', desiredState.node.location.name) | map(attribute='database') | first %}
            {% set desiredSchema = desiredState.storageLocations | selectattr('name', 'equalto', desiredState.node.location.name) | map(attribute='schema') | first %}
            {% set desiredDatabaseSchema = desiredDatabase + '.' + desiredSchema %}           
            
             {% if currentDatabaseSchema != desiredDatabaseSchema %}
                {% set nsVariables.storageLocationTest = false %}
             {% endif %}

            {# Clustering Test #}
            {% set clusterKeyTest = currentState.config.clusterKey == desiredState.config.clusterKey %}
            {% set clusterKeyExpressionsTest = currentState.config.clusterKeyExpressions == desiredState.config.clusterKeyExpressions %}
            {% set clusterKeyConfigTest = currentState.config.clusterKeyConfig == desiredState.config.clusterKeyConfig %}
            {% set clusterKeyConfigExpressionsTest = currentState.config.clusterKeyConfigExpressions == desiredState.config.clusterKeyConfigExpressions %}

            {% if 
                clusterKeyTest == false or
                clusterKeyExpressionsTest == false or
                clusterKeyConfigTest == false or
                clusterKeyConfigExpressionsTest == false %}

                {% set clusterTest = false %}
            {% else %}
                {% set clusterTest = true %}
            {% endif %}

            {# Rename / Move Object #}
            {% if (nsVariables.storageLocationTest == false or currentState.node.name != desiredState.node.name) %}
                {{ stage('Rename and / or Move Table') }}
                {% set srcSchName = currentState.node.location.name %}
                {% set cdb = currentState.storageLocations | selectattr('name', 'equalto', srcSchName) | map(attribute='database') | first %}
                {% set csch = currentState.storageLocations | selectattr('name', 'equalto', srcSchName) | map(attribute='schema') | first %}

                ALTER TABLE  "{{cdb}}"."{{csch}}"."{{currentState.node.name}}"
                RENAME TO   {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}

                {# Metadata changes detected #}
                {% set nsMetaVariables.metaDataChanged = true %}
            {% endif %}

            {# Change table description #}
            {% if (nsVariables.nodeCommentTest == false or currentState.node.description != desiredState.node.description) %}
                 {{ stage('Change table description') }}
                 ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                SET COMMENT = '{{ desiredState.node.description | escape }}'

                {# Metadata changes detected #}
                {% set nsMetaVariables.metaDataChanged = true %}
            {% endif %}



            {# Drop Columns #}
            {% set nsVariables = namespace(colchanges=0) %}
            {% for dropCurCol in currentState.columns %}
                {% if dropCurCol.id not in desiredState.columns | map(attribute="id") %}
                {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                    {% if nsVariables.colchanges == 1 %}
                        {{ stage('Drop Columns') }}
                        ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                        DROP COLUMN 
                    {% else %}
                        , 
                    {% endif %}
                    "{{ dropCurCol.name }}"

                    {# Metadata changes detected #}
                    {% set nsMetaVariables.metaDataChanged = true %}
                {% endif %}
            {% endfor %}

            {# Add Columns #}
            {% set nsVariables = namespace(colchanges=0) %}
            {% for addDesCol in desiredState.columns %}
                {% if addDesCol.id not in currentState.columns | map(attribute="id") %}
                {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                    {% if nsVariables.colchanges == 1 %}
                        {{ stage('Add Columns') }}
                        ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                        ADD COLUMN
                    {% else %}
                        ,
                    {% endif %}
                        "{{ addDesCol.name }}" {{ addDesCol.dataType }}
                        {%- if not addDesCol.nullable %} NOT NULL
                            {%- if addDesCol.defaultValue | length > 0 %} DEFAULT {{ addDesCol.defaultValue }}{% endif %}
                        {% endif %}
                        {%- if addDesCol.description | length > 0 %} COMMENT '{{ addDesCol.description | escape }}'{% endif %}

                    {# Metadata changes detected #}
                    {% set nsMetaVariables.metaDataChanged = true %}
                {% endif %}
            {% endfor %}

            {# Rename Columns #}
            {% for renameCurCol in currentState.columns %}
                {% if renameCurCol.id in desiredState.columns | map(attribute="id") %}
                    {% set desiredColumnName = desiredState.columns | selectattr('id', 'equalto', renameCurCol.id) | map(attribute='name') | first %}
                    {% if renameCurCol.name != desiredColumnName %}
                        {{ stage('Rename Column ' + renameCurCol.name) }}
                        ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                        RENAME COLUMN "{{ renameCurCol.name }}"
                        TO "{{ desiredColumnName }}"

                        {# Metadata changes detected #}
                        {% set nsMetaVariables.metaDataChanged = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {# Change data types etc #}
            {% set nsVariables.colchanges = 0 %}
            {% for alterCurCol in currentState.columns %}        
                {% if alterCurCol.id in desiredState.columns | map(attribute="id") %}
                    {% set currentDatatype = alterCurCol.dataType %}
                    {% set currentNullable = alterCurCol.nullable %}
                    {% set currentDefaultValue = alterCurCol.defaultValue %}
                    {% set currentDescription = alterCurCol.description %}

                    {% set desiredColumnName = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='name') | first %}
                    {% set desiredDatatype = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='dataType') | first %}
                    {% set desiredNullable = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='nullable') | first %}
                    {% set desiredDefaultValue = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='defaultValue') | first %}
                    {% set desiredDescription = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='description') | first %}

                    {% set datatypeTest = currentDatatype == desiredDatatype %}
                    {% set nullableTest = currentNullable == desiredNullable %}
                    {% set defaultValueTest = currentDefaultValue == desiredDefaultValue %}
                    {% set descriptionTest = currentDescription == desiredDescription %}

                    {% if (datatypeTest == false or 
                            nullableTest == false  or
                            defaultValueTest == false or
                            descriptionTest == false) %}
                        {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                        {% if nsVariables.colchanges == 1 %}
                            {{ stage('Change Column Attributes') }}
                            ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                            MODIFY
                        {% endif %}
                        {% if datatypeTest == false %}
                            {% if nsVariables.colchanges > 1 %},{% endif %}
                            COLUMN "{{ desiredColumnName }}"
                            SET DATA TYPE {{ desiredDatatype }}
                            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                        {% endif %}
                        {% if nullableTest == false %}
                            {% if nsVariables.colchanges > 1 %},{% endif %}
                            COLUMN "{{ desiredColumnName }}"
                            {% if currentNullable == true %}
                                SET
                            {% else %}
                                DROP
                            {% endif %}
                            NOT NULL
                            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                        {% endif %}
                        {% if descriptionTest == false %}
                            {% if nsVariables.colchanges > 1 %},{% endif %}
                            COLUMN "{{ desiredColumnName }}"
                            COMMENT '{{ desiredDescription |escape }}'
                            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                        {% endif %}
                        {% if defaultValueTest == false %}
                            {% if nsVariables.colchanges > 1 %},{% endif %}
                            COLUMN "{{ desiredColumnName }}"
                            {% if desiredDefaultValue == '' %}
                                DROP DEFAULT
                            {% else %}
                                SET DEFAULT {{ desiredDefaultValue }}
                            {% endif %}
                            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                        {% endif %}
                        
                        {# Metadata changes detected #}
                        {% set nsMetaVariables.metaDataChanged = true %}
                    {% else %}
                                            
                    {% endif %}
                {% endif %}
            {% endfor %}
            
            {# Figure out cluster key #}
            {% set nsVariables = namespace(finalClusterKey="") %}
            {% if clusterTest == false %}
                {% if desiredState.config.clusterKeyExpressions == true %}
                    {% set column, expression = desiredState.config.clusterKeyConfigExpressions.get('items') | map(attribute='columnNameExpressions.name') | list, desiredState.config.clusterKeyConfigExpressions.get('items') | map(attribute='sqlExpression') | list %}

                    {%- set nsVariables = namespace(clusterValues=[]) %}

                    {% for r in column %}
                        {% if expression[loop.index0] == "" %}
                            {% set nsVariables.clusterValues = nsVariables.clusterValues + ['"'+r+'"'] %}
                        {% else %}
                            {% set nsVariables.clusterValues = nsVariables.clusterValues + [expression[loop.index0]] %}
                        {% endif %}
                    {% endfor %}

                    {% set nsVariables.finalClusterKey = 'CLUSTER BY (' + nsVariables.clusterValues | join(',') + ')' %}

                {% elif desiredState.config.clusterKey == true %}

                    {% set column = desiredState.config.clusterKeyConfig.get('items') | map(attribute='columnName.name') | list %}

                    {%- set nsVariables = namespace(clusterValues=[]) %}

                    {% for r in column %}
                        {% set nsVariables.clusterValues = nsVariables.clusterValues + ['"'+r+'"'] %}
                    {% endfor %}

                    {% set nsVariables.finalClusterKey = 'CLUSTER BY (' + nsVariables.clusterValues | join(',') + ')' %}
                
                {% else %}

                    {% set nsVariables.finalClusterKey = 'DROP CLUSTERING KEY' %}

                {% endif %}

                {{ stage('Recluster TABLE') }}
                ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                {{ nsVariables.finalClusterKey }}

                {# Metadata changes detected #}
                {% set nsMetaVariables.metaDataChanged = true %}

            {% endif %}

            {% if currentState != desiredState and nsMetaVariables.metaDataChanged == false %}

                {# =========================================================
                Transformation and column source changes comparison (per column)
                ========================================================= #}
                {% for col in desiredState.sources[0].columns %}

                    {# Try to get matching column #}
                    {% set matched_column = currentState.sources[0].columns
                        | selectattr('id', 'equalto', col.id)
                        | first
                    %}

                    {% if matched_column %}

                        {# Transformation Changes #}
                        {% set currentTransform = currentState.sources[0].columns
                            | selectattr('id', 'equalto', col.id)
                            | map(attribute='transform')
                            | first
                            | default('')
                        %}

                        {% if currentTransform != col.transform %}
                            {% set nsMetaVariables.transformTest = false %}
                            {% set _ = nsMetaVariables.transformDiff.append({
                                "Column Name": col.name,
                                "is": col.transform | replace('/*', '/ *') | replace('*/', '* /'),
                                "was": currentTransform | replace('/*', '/ *') | replace('*/', '* /')
                            }) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if nsMetaVariables.transformTest == false %}
                    {{ update_metadata("Transform", nsMetaVariables.transformDiff, "Transform") }}
                {% endif %}

                {# =========================================================
                Business key comparison
                ========================================================= #}
                {% set currentBusinessKeys = currentState.columns
                    | selectattr('isBusinessKey', 'equalto', true)
                    | map(attribute='name')
                    | list
                    | sort
                %}

                {% set desiredBusinessKeys = desiredState.columns
                    | selectattr('isBusinessKey', 'equalto', true)
                    | map(attribute='name')
                    | list
                    | sort
                %}

                {% if currentBusinessKeys != desiredBusinessKeys %}
                    {% set _ = nsMetaVariables.businessDiff.append({
                        "is": desiredBusinessKeys,
                        "was": currentBusinessKeys
                    }) %}

                    {{ update_metadata("Business Keys", nsMetaVariables.businessDiff, "Business Keys") }}

                {% endif %}

                {# =========================================================
                dateColumnName comparison
                ========================================================= #}
                {% if currentState.config.dateColumnName != desiredState.config.dateColumnName %}
                    {% set _ = nsMetaVariables.dateColumnNameDiff.append({
                        "is": desiredState.config.dateColumnName | replace('/*', '/ *') | replace('*/', '* /'),
                        "was": currentState.config.dateColumnName | replace('/*', '/ *') | replace('*/', '* /')
                    }) %}

                    {{ update_metadata("dateColumnName", nsMetaVariables.dateColumnNameDiff, "dateColumnName") }}

                {% endif %}

                {# =========================================================
                daysToGenerate comparison
                ========================================================= #}
                {% if currentState.config.daysToGenerate != desiredState.config.daysToGenerate %}
                    {% set _ = nsMetaVariables.daysToGenerateDiff.append({
                        "is": desiredState.config.daysToGenerate | replace('/*', '/ *') | replace('*/', '* /'),
                        "was": currentState.config.daysToGenerate | replace('/*', '/ *') | replace('*/', '* /')
                    }) %}

                    {{ update_metadata("daystoGenerate", nsMetaVariables.daysToGenerateDiff, "daystoGenerate") }}

                {% endif %}

                {# =========================================================
                postSQL comparison
                ========================================================= #}
                {% if currentState.config.postSQL != desiredState.config.postSQL %}
                    {% set _ = nsMetaVariables.postSQLDiff.append({
                        "is": desiredState.config.postSQL | replace('/*', '/ *') | replace('*/', '* /'),
                        "was": currentState.config.postSQL | replace('/*', '/ *') | replace('*/', '* /')
                    }) %}

                    {{ update_metadata("postSQL", nsMetaVariables.postSQLDiff, "postSQL") }}

                {% endif %}

                {# =========================================================
                preSQL comparison
                ========================================================= #}
                {% if currentState.config.preSQL != desiredState.config.preSQL %}
                    {% set _ = nsMetaVariables.preSQLDiff.append({
                        "is": desiredState.config.preSQL | replace('/*', '/ *') | replace('*/', '* /'),
                        "was": currentState.config.preSQL | replace('/*', '/ *') | replace('*/', '* /')
                    }) %}

                    {{ update_metadata("preSQL", nsMetaVariables.preSQLDiff, "preSQL") }}

                {% endif %}

                {# =========================================================
                startingDate comparison
                ========================================================= #}
                {% if currentState.config.startingDate != desiredState.config.startingDate %}
                    {% set _ = nsMetaVariables.startingDateDiff.append({
                        "is": desiredState.config.startingDate | replace('/*', '/ *') | replace('*/', '* /'),
                        "was": currentState.config.startingDate | replace('/*', '/ *') | replace('*/', '* /')
                    }) %}

                    {{ update_metadata("startingDate", nsMetaVariables.startingDateDiff, "startingDate") }}

                {% endif %}

                {# =========================================================
                Truncate Before comparison
                ========================================================= #}
                {% if currentState.config.truncateBefore != desiredState.config.truncateBefore %}
                    {% set _ = nsMetaVariables.truncateBeforeDiff.append({
                        "is": desiredState.config.truncateBefore,
                        "was": currentState.config.truncateBefore
                    }) %}

                    {{ update_metadata("truncateBefore", nsMetaVariables.truncateBeforeDiff, "truncateBefore") }}

                {% endif %}

                {# =========================================================
                Zero Key Insert comparison
                ========================================================= #}
                {% if currentState.config.insertZeroKey != desiredState.config.insertZeroKey %}

                    {% set nsMetaVariables.insertZeroKeyTest = false %}
                    {% set _ = nsMetaVariables.insertZeroKeyDiff.append({
                            "is": desiredState.config.insertZeroKey,
                        "was": currentState.config.insertZeroKey
                    }) %}

                {% elif currentState.config.insertZeroKey and desiredState.config.insertZeroKey %}

                    {# Zero Key Record Option Changes tracking #}
                    {% if currentState.config.insertZeroKeySurrogateKey != desiredState.config.insertZeroKeySurrogateKey %}
                        {% set nsMetaVariables.insertZeroKeyTest = false %}
                        {% set _ = nsMetaVariables.insertZeroKeyDiff.append({
                            "Config": "Default Surrogate Key Value",
                            "is": desiredState.config.insertZeroKeySurrogateKey | replace('/*', '/ *') | replace('*/', '* /'),
                            "was": currentState.config.insertZeroKeySurrogateKey | replace('/*', '/ *') | replace('*/', '* /')
                        }) %}
                        {% endif %}

                    {% if currentState.config.insertZeroKeyStr != desiredState.config.insertZeroKeyStr %}
                        {% set nsMetaVariables.insertZeroKeyTest = false %}
                        {% set _ = nsMetaVariables.insertZeroKeyDiff.append({
                            "Config": "Default String Value",
                            "is": desiredState.config.insertZeroKeyStr | replace('/*', '/ *') | replace('*/', '* /'),
                            "was": currentState.config.insertZeroKeyStr | replace('/*', '/ *') | replace('*/', '* /')
                        }) %}
                    {% endif %}

                    {% if currentState.config.insertZeroKeyDate != desiredState.config.insertZeroKeyDate %}
                        {% set nsMetaVariables.insertZeroKeyTest = false %}
                        {% set _ = nsMetaVariables.insertZeroKeyDiff.append({
                            "Config": "Default Date Value",
                            "is": desiredState.config.insertZeroKeyDate | replace('/*', '/ *') | replace('*/', '* /'),
                            "was": currentState.config.insertZeroKeyDate | replace('/*', '/ *') | replace('*/', '* /')
                        }) %}
                    {% endif %}
                {% endif %}

                {% if nsMetaVariables.insertZeroKeyTest == false %}
                    {{ update_metadata("Zero Key Insert", nsMetaVariables.insertZeroKeyDiff, "Zero Key Insert") }}
                {% endif %}
    
                {# =========================================================
                Test Enabled comparison (per column)
                ========================================================= #}
                {% if desiredState.config.testsEnabled != currentState.config.testsEnabled %}

                        {% set nsMetaVariables.testsEnabledTest = false %}
                        {% set _ = nsMetaVariables.testsEnabledDiff.append({
                            "is": desiredState.config.testsEnabled,
                            "was": currentState.config.testsEnabled
                        }) %}

                {% elif desiredState.config.testsEnabled and currentState.config.testsEnabled %}

                    {# Changes in Node Tests #}
                    {% if currentState.node.tests | length != desiredState.node.tests | length %}

                        {% set nsMetaVariables.testsEnabledTest = false %}
                        {% set _ = nsMetaVariables.testsEnabledDiff.append({
                            "is": desiredState.node.tests | map(attribute="name") | list | sort ,
                            "was": currentState.node.tests | map(attribute="name") | list | sort
                        }) %}
                    {% else %}
                        {% for dtest in desiredState.node.tests %}
                            {% set ctest = (currentState.node.tests | selectattr("name", "equalto", dtest.name) | first) %}

                            {% if ctest != dtest %}
                                {% set nsMetaVariables.testsEnabledTest = false %}
                                {% set _ = nsMetaVariables.testsEnabledDiff.append({
                                    "is": dtest | replace('/*', '/ *') | replace('*/', '* /'),
                                    "was": ctest | replace('/*', '/ *') | replace('*/', '* /')
                                }) %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {# Changes in Column tests #}
                    {% for src in desiredState.sources %}

                        {% set matchingSource = currentState.sources | selectattr('name', 'equalto', src.name) | first %}

                        {% if matchingSource %}
                            {% for col in src.columns %}
                                {% set currentTest = matchingSource.columns
                                    | selectattr('id', 'equalto', col.id)
                                    | map(attribute='tests')
                                    | first
                                    | default('')
                                %}

                                {% if currentTest != col.tests %}
                                    {% set nsMetaVariables.testsEnabledTest = false %}
                                    {% set cTests = currentTest | map(attribute="name") | list | sort %}
                                    {% set dTests = col.tests | map(attribute="name") | list | sort %}
                                    {% set _ = nsMetaVariables.testsEnabledDiff.append({
                                        "Column Name": col.name,
                                        "is": dTests,
                                        "was": cTests
                                    }) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if nsMetaVariables.testsEnabledTest == false %}
                    {{ update_metadata("Test Enanbled", nsMetaVariables.testsEnabledDiff, "Test Enanbled") }}
                {% endif %}

                {# =========================================================
                Handle detected metadata changes and update
                ========================================================= #}
                {% if nsMetaVariables.metaDataChanges | length == 0 %}
                    {{ stage('Metadata Update-Default') }}
                {% else %}
                    {{ stage(nsMetaVariables.metadataUpdate) }}
                    -- Metadata changes detected
                    /* {{ nsMetaVariables.metaDataChanges }} */
                {% endif %}
                select 1=0
            {% endif %}

        {% endif %}

     
    {% endif %}

{% elif currentState != undefined and desiredState == undefined %}

    {# Table or View Name #}
    {% set targetObjectDatabase = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[0] %} 
    {% set targetObjectSchema = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[1] %} 
    {% set fullyQualifiedTargetObjectName = ref_no_link(currentState.node.location.name, currentState.node.name) %}
    
    {% if currentState.node.materializationType == 'view' %}

     {{ stage('Drop Table or View') }}
     DROP {{ currentState.node.materializationType }} IF EXISTS {{ fullyQualifiedTargetObjectName }}

    {% else %}
     
       {{ stage('Drop ' + currentState.node.materializationType) }}
       DROP TABLE IF EXISTS {{ fullyQualifiedTargetObjectName }}

    {% endif %}

{% endif %}