{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalsce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Version        : 1  == #}
{# == Node Type Name           : MATCH_RECOGNIZE NODE == #}
{# == Node Type Description    : This node processes rows from a given data source to detect patterns. It genrates the query for MATCH_RECOGNIZE which accepts a set of rows from input table, and returns all matches for a given row pattern within this node. The pattern is defined similarly to a regular expression. == #}


{# Table or Transient table Name #}
    {% set targetObjectDatabase = ref_no_link(node.location.name, node.name).split('.')[0] %} 
    {% set targetObjectSchema = ref_no_link(node.location.name, node.name).split('.')[1] %} 
    {% set fullyQualifiedTargetObjectName = ref_no_link(node.location.name, node.name) %}

	{%- set ns = namespace(measureExpression = [],measureColumn=[],defineExpression=[],defineColumn =[],aliasExpressionColumn=[],varPartitionByColDropDown = [],varOrderByColDropDown=[],varPartitionByColText = [],varOrderByColText=[]) %}

     {%set ns.varPartitionByColDropDown = config.partitionBy.get('items') | map(attribute='partitionByCol.name') | list%}
 	 {%set ns.varPartitionByColText = config.partitionBy.get('items') | map(attribute='partitionByColTextBox') | list%}
     {%set ns.varOrderByColDropDown = config.orderBy.get('items') | map(attribute='orderByCol.name') | list%}
 	 {%set ns.varOrderByColText = config.orderBy.get('items') | map(attribute='orderByColTextBox') | list%}
	 
	 {%set ns.measureExpression = config.tabMeasures.get('items') | map(attribute='valMeasureExpression') | list%}
     {%set ns.measureColumn = config.tabMeasures.get('items') | map(attribute='valMeasureColumnName') | list%}
     {%set ns.aliasExpressionColumn = config.tabMeasures.get('items') | map(attribute='valAliasExpressionColumnName') | list%}
     
	 {%set ns.defineExpression = config.tabDefine.get('items') | map(attribute='valDefineExpression') | list%}
     {%set ns.defineColumn = config.tabDefine.get('items') | map(attribute='valDefineColumnName') | list%}
	 	
     {% set source = sources[0] %}        
      
{% if node.materializationType == 'table' or node.materializationType == 'transient table'  %}
     {%if config.trunc %}
  			{{ stage('Truncate Pivot Table') }}
			TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
     {%endif%}

        
        {{ stage('Insert data into Pivot table') }}

            INSERT INTO  {{ ref_no_link(node.location.name, node.name) }}
			 SELECT *  {{ source.join }}
			 
			MATCH_RECOGNIZE(
			PARTITION BY 
			{% for loopColumn in ns.varPartitionByColDropDown %}
			{%- if loopColumn|trim == '' -%} {{ ns.varPartitionByColText[loop.index0]}} {%- else -%}  {{loopColumn}}  {%- endif -%}
			{%- if not loop.last -%},{%- endif -%}
			{% endfor %}

			ORDER BY 
			
			{% for loopColumn in ns.varOrderByColDropDown %}
			{%- if loopColumn|trim == '' -%} {{ ns.varOrderByColText[loop.index0]}} {%- else -%}  {{loopColumn}}  {%- endif -%}
			{%- if not loop.last -%},{%- endif -%}
			{% endfor %}
			
            MEASURES
			
			{% for loopColumn in ns.measureColumn  %}
			{{ ns.measureExpression [loop.index0] }} ({%- if loopColumn == 'None' -%} '' else {{loopColumn}} {%endif%}) AS {{ ns.aliasExpressionColumn[loop.index0]}}	{%- if not loop.last -%},{%endif%}
			{% endfor %}	 
			
			{{config.rowsPerMatch}}
			
            AFTER MATCH SKIP {{config.afterMatchSkip}} 
            {{config.to}}  {{config.varAfterMatchSkip}}
			
            PATTERN
            ( {{config.pattern}} )
			
            DEFINE
			{% for loopColumn in ns.defineColumn %}
			{{loopColumn}} AS {{ ns.defineExpression [loop.index0] }} 	{%- if not loop.last -%},{%- endif -%}
			{% endfor %}
			)	
			
            {%- if config.varOrderBy|trim != '' -%}
              ORDER BY {{config.varOrderBy|trim}}
            {%- endif -%} 
{%endif%}