{% for test in node.tests if config.testsEnabled %}
    {% if test.runOrder == 'Before' %}
        {{ test_stage(test.name, test.continueOnFailure) }}
        {{ test.templateString }}
    {% endif %}
{% endfor %}

{#CTE NAME #}
{%set cte_name = sources[2].name %}

{#Get join clause for recursion#}
{%set joinclause = sources[1].join%}


{% if node.materializationType == 'table' %}
    {% if config.preSQL %}
        {{ stage('Pre-SQL') }}
        {{ config.preSQL }}
    {% endif %}

    {% if config.truncateBefore %}
        {{ stage('Truncate Target Table') }}
        TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
    {% endif %}

    {{ stage('Query Hierarchy-Recursive CTE') }}

    INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            "{{ col.name }}"
            {% if not loop.last -%},{% endif %}
        {% endfor %}
    )
    WITH RECURSIVE {{sources[2].name}} AS ( 
 
        -- The anchor clause defines the initial query.

        SELECT
        {% for col in sources[0].columns %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
            {% if not loop.last -%}, {% endif %}
        {% endfor %}
        {{ sources[0].join }}
        
        UNION ALL

          -- The recursive clause defines the query that is repeated.

        SELECT
        {% for col in sources[1].columns %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
            {% if not loop.last -%}, {% endif %}
        {% endfor %}
        {{  get_clause(joinclause,'from')  }}
         JOIN {{sources[2].name}}  ON  
           {%- for i in config.joincol.get('items') -%}
              {%- set colName = i.columnName.name -%}
              {%- set ctecol  = i.ctecolumnName.name -%}
              {%if config.mulsources %}
                "{{config.anctablename}}"."{{colName}}"
               {%else%}"{{sources[0].dependencies[0].node.name}}"."{{colName}}" {%endif%} = "{{cte_name}}"."{{ctecol}}"
              {%if not loop.last%} AND   {%endif%}  
           {%- endfor -%}
        {{ get_clause(joinclause) }}
        
    )SELECT {% for col in sources[2].columns %}
            "{{ col.name }}"
            {% if not loop.last -%}, {% endif %}
        {% endfor %}FROM {{sources[2].name}} {{get_clause(sources[2].join)}}

    {% if config.postSQL %}
        {{ stage('Post-SQL') }}
        {{ config.postSQL }}
    {% endif %}
{% endif %}

{% if config.testsEnabled %}
    {% for test in node.tests %}
        {% if test.runOrder == 'After' %}
            {{ test_stage(test.name, test.continueOnFailure) }}
            {{ test.templateString }}
        {% endif %}
    {% endfor %}

    {% for column in columns %}
        {% for test in column.tests %}
            {{ test_stage(column.name + ": " + test.name) }}
            {{ test.templateString }}
        {% endfor %}
    {% endfor %}
{% endif %}